<div #treeMenuContainer id="tree-menu-container">
  <ul class="tree-menu">
    <li><a href="#">Europe</a>
      <ul>
        <li><a href="#">Spain</a>
          <ul>
            <li><a href="#">Madrid</a></li>
            <li><a href="#">Barcelona</a></li>
            <li><a href="#">Valencia</a></li>
            <li><a href="#">Alicante</a></li>
            <li><a href="#">Granada</a></li>
          </ul>
        </li>
        <li><a href="#">Italy</a></li>
        <li><a href="#">Germany</a>
          <ul>
            <li><a href="#">Berlin</a></li>
            <li><a href="#">Hamburg</a></li>
            <li><a href="#">Munich</a></li>
            <li><a href="#">Cologne</a></li>
            <li><a href="#">Stuttgart</a></li>
          </ul>
        </li>
        <li><a href="#">France</a>
          <ul>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Marseille</a></li>
            <li><a href="#">Lyon</a></li>
            <li><a href="#">Toulouse</a></li>
            <li><a href="#">Nice</a></li>
          </ul>
        </li>
        <li><a href="#">Denmark</a></li>
      </ul>
    </li>
    <li><a href="#">Asia</a>
      <ul>
        <li><a href="#">Japan</a>
          <ul>
            <li><a href="#">Tokyo</a></li>
            <li><a href="#">Yokohama</a></li>
            <li><a href="#">Osaka</a></li>
          </ul>
        </li>
        <li><a href="#">Iran</a>
          <ul>
            <li><a href="#">Tehran</a></li>
            <li><a href="#">Isfahan</a></li>
            <li><a href="#">Shiraz</a></li>
            <li><a href="#">Mashhad</a></li>
            <li><a href="#">Tabriz</a></li>
          </ul>
        </li>
        <li><a href="#">India</a></li>
        <li><a href="#">Russia</a></li>
        <li><a href="#">China</a></li>
      </ul>
    </li>
    <li><a href="#">Americas</a>
      <ul>
        <li><a href="#">Canada</a></li>
        <li><a href="#">Chile</a></li>
        <li><a href="#">USA</a>
          <ul>
            <li><a href="#">New York</a></li>
            <li><a href="#">Boston</a></li>
            <li><a href="#">Texas</a></li>
            <li><a href="#">Los Angeles</a></li>
            <li><a href="#">Miami</a></li>
          </ul>
        </li>
        <li><a href="#">Mexico</a></li>
        <li><a href="#">Brazil</a></li>
      </ul>
    </li>
    <li><a href="#">Africa</a>
      <ul>
        <li><a href="#">Morocco</a></li>
        <li><a href="#">Kenia</a></li>
        <li><a href="#">Nigeria</a></li>
        <li><a href="#">Sudan</a></li>
      </ul>
    </li>
    <li><a href="#">Australia</a>
      <ul>
        <li><a href="#">Australia</a>
          <ul>
            <li><a href="#">Sidney</a></li>
            <li><a href="#">Melbourne</a></li>
            <li><a href="#">Cairns</a></li>
            <li><a href="#">Canberra</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
